<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvcTest:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMvcTest_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMvcTest/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvcTest" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/aopalliance-1.0.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/aspectjweaver-1.8.4.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/commons-logging-1.1.3.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/spring-aop-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/spring-context-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/spring-core-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/spring-expression-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/spring-web-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/spring-webmvc-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="$USER_HOME$/Desktop/新建文件夹/SpringMVC/spring-beans-3.2.0.RELEASE.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>